/*----------  IMPORTS  ----------*/


/*----------  ROOT STYLE  ----------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;  
    box-sizing: border-box;
}


#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 7vh;
    background-color: #F6E2CA;
    box-shadow: 2px 2px 3px #888888;
    position: fixed;
    width: 100vw;
}

#navbar .container-links {
    padding-right: 4vw;
}

#navbar .nav-link {
    padding: 1vw;
    text-decoration: none;
    color: hsl(13, 92%, 79%);
    font-size: 1.4em;
}

#welcome-section {
    height: 100vh;
    text-align: center;
    box-shadow: 2px 2px 3px #888888;
    background-color: #DCE9F8;
    color: hsl(13, 92%, 79%);
}

#welcome-section .intro-b-title {
    padding-top: 30vh;
    margin: 0 auto;
    font-size: 10em;
}

#welcome-section .intro-s-title {
    font-size: 2em;
}


#projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-color: #F9F4F0;
}

#projects .intro-s-title {
    font-size: 2em;
}

#contact {
    height: 100vh;
    text-align: center;
    background-color: #C3D4CC;
}

#contact .intro-b-title {
    padding-top: 30vh;
    margin: 0 auto;
    font-size: 10em;
}