/*----------  IMPORTS  ----------*/


/*----------  ROOT STYLE  ----------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;  
    box-sizing: border-box;
}


/*----------  NAVBAR STYLE  ----------*/
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 7vh;
    background-color: #F6E2CA;
    box-shadow: 2px 2px 3px #888888;
    position: fixed;
    width: 100vw;
}

#navbar .container-links {
    padding-right: 4vw;
}

#navbar .nav-link {
    padding: 1vw;
    text-decoration: none;
    color: hsl(13, 92%, 79%);
    font-size: 1.4em;
}


/*----------  WELCOME SECTION STYLE  ----------*/
#welcome-section {
    height: 100vh;
    text-align: center;
    background-color: #DCE9F8;
    color: hsl(13, 92%, 79%);
}

#welcome-section .intro-b-title {
    padding-top: 30vh;
    margin: 0 auto;
    font-size: 10em;
}

#welcome-section .intro-s-title {
    font-size: 2em;
}


/*----------  PROJECTS SECTION STYLE  ----------*/
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #F7D6CD;
}

#projects .intro-s-title {
    padding-top: 6vh;
    font-size: 4em;
    color: hsl(13, 92%, 79%);
}

#projects .cards-container {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vmin;
    grid-template-areas: "b b" "b b" "a a";
    width: 90vw;
}

#projects .cards-container .card {
    width: 60%;
    background-color: #fff;
}

#projects .cards-container .card img {
    max-width: 100%;
    padding: 10px;
}

#projects .cards-container .card .card-link {
    width: 100%;
    height: 20%;
    padding-top: 20px;
    background-color: #F9F4F0;
}

#projects .cards-container .card .card-link .card-title {
    font-size: 1.1em;
}

#projects .cards-container .card .project-tile {
    text-decoration: none;
    
    color: hsl(13, 92%, 79%);
}

#projects .cards-container .card .card-link:hover {
    background-color: #DCE9F8;
}

#git-card {
    font-size: 1.4em;
    grid-area: a;
    color: hsl(13, 92%, 60%);
    padding: 10px;
}

#profile-link {
    text-decoration: none;
    color:hsl(152, 17%, 60%);
}


/*----------  CONTACT STYLE  ----------*/
#contact {
    height: 100vh;
    text-align: center;
    background-color: #C3D4CC;
}

#contact .intro-b-title {
    padding-top: 10vh;
    margin: 0 auto;
    font-size: 4em;
}